nav h1{
  text-align: center;
  margin: 0 auto;
  font-size: 35px;
}
nav {
  background-color: slateblue;
}
header {
  text-align: center;
}
.score {
  color: white;
  font-size: 24px;

}


body {
background-color: rgb(36, 62, 167); 
  /* padding: 200px 0 0 200px; */
}
#canvas {
  background-color: transparent;
  margin-top: 110px;
}
.canvas-div {
  /* display: flex; */
  justify-content: center;
  background-color: lightgrey;
  background: url('../Images/patioGrass.JPG');
  background-repeat: no-repeat;
  background-size: cover;

}

/* #canvas {
  /* text-align: center;
  display: inline; */
    /* position: absolute; */
    /* top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
} */ 

.canvas-div {
  display: flex;
  justify-content: center;
}
